<!-- CSS Sheet created by David Scheffler
04. April 2021 small changes to the alignments ...
03. April 2021 first Draft
//-->

.center {
  text-align: center;
  }
  video {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
  
h3 {
  color:"White"
}

h2 {
  color:"Red"; 
}
